*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background:#303030;
    padding: 10px 40px 10px 70px;
    border-left: none;
    border-right: none;
}

nav ul {
    display:flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav ul li.logo {
    flex: 1;
    font-size: 25px;
    color: orange;
    font-weight: 600;
}

nav ul div.items{
    padding: 25px;
    display: inline-flex;
}

nav ul div.items a{
    text-decoration: none;
    font-size:15px;
    padding: 0 20px;
}


nav ul .search-icon{
    height: 30px;
    width: 240px;
    display: flex;
    background:#868686;
    border-radius: 5px;
}

nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
}

nav ul .search-icon .icon{
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 0 5px 5px 0;

}
nav ul .search-icon .icon span{
    color: #222222;
    font-size: 18px;
}

nav ul .search-icon .icon:hover{
    
}